[Unit]
Description=Home Assistant Bot
After=network.target

[Service]
Type=simple
User=%i
ExecStart=/export/home/hacker/bin/hassbot.py

[Install]
WantedBy=multi-user.target

